/* styles/legal.css */

/* Legal Pages */
.legal {
    padding: 80px 0;
  }
  
  .legal h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .legal h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .legal p {
    font-size: 1em;
    line-height: 1.6;
    color: #444;
  }
  
  .legal ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .legal a {
    color: #3F51B5;
  }
  
  .legal a:hover {
    text-decoration: underline;
  }
  